@import url('https://fonts.googleapis.com/css?family=Comfortaa:300,400,500,600,700&display=swap&subset=cyrillic,cyrillic-ext,greek,latin-ext,vietnamese');

.rd-navbar-transparent.rd-navbar-static .rd-navbar-main-element {
  width: 60%;
}
.rd-navbar-brand {
  width: 100%;
}
.brand img {
  height: 100px;
  margin-right: 10px;
}
.brand span {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
}
.brand {
  width: 100%;
  display: flex !important;
  align-items: center;
}

.price-section{
  z-index: 1;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-image: url('../images/cloud.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.price-section h2{
  margin: 0 auto 45px;
}




/*new price*/
.price-container {
    width: 80%;
    height: 70vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    margin: auto;
}
.price-block {
    width: 30%;
    height: 80%;
    border-radius: 10px;
    background-image: url('../images/2.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #fff;
    background-position-y: 85px;
    background-position-x: -20px;
}
.price-main-title {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    margin-top: .5rem;
}
.price-title {
    font-size: 25px;
    font-weight: 600;
    line-height: 1rem;
    text-align: center;
    margin: 0 !important;
}
.price-amount {
    font-size: 31px;
    font-weight: 600;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 25%;
    align-items: center;
    justify-content: center;
}
.price-amount span:last-child {
    color: grey;
    font-size: 20px;
}

.price-button-block {
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.price-button, .price-button:focus {
    width: 50%;
    height: 50%;
    background-color: #9C27B0;
    border: none;
    color: #fff;
    font-size: 15px;
    border-radius: 5px;
    box-shadow: 0 0 8px 0 rgb(213, 181, 218), 0 4px 8px 0 rgb(165, 135, 171), 0 8px 16px 0 rgb(191, 131, 202);
    transition: .4s ease-in;
    cursor: pointer;
    outline: none;
}
.price-button:hover {
    box-shadow: 2px 4px 8px 0 rgb(230, 182, 238);
}

/* Modal */
.Modal-window{
  height: 100%;
  width: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1011;
  top: 0;
  display: none;
}

.cont-mod-video{
  width: 80%;
  height: 80%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.closes{
  position: absolute;
  font-size: 30px;
  right: -20px;
  top: -10px;
  cursor: pointer;
}
