@media screen and (min-width:320px) and (max-width:375px) {
  .bg-pattern .button {
      color: #ec8889;
      border-color: #ed8a8a;
  }

  .price-section{
    height: 100%;
  }

  .price-content{
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
  }

  .price-1{
    width: 100%;
    height: 50%;
    padding: 20px 0;
  }

  .price-2{
    width: 100%;
    height: 50%;
    padding: 20px 0;
    margin-top: 25px;
  }

  .price-text{
    line-height: 24px;
  }

    .price-content p{
      font-size: 12px;
    }
}
@media screen and (min-width:375px) and (max-width:450px) {
  .bg-pattern .button {
      color: #ec8889;
      border-color: #ed8a8a;
  }

  .price-section{
    height: 100%;
    background-image: url('../images/cloud.jpg') no-repeat;

  }

  .price-content{
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
  }

  .price-1{
    width: 100%;
    height: 50%;
    padding: 20px 0;
  }

  .price-2{
    width: 100%;
    height: 50%;
    padding: 20px 0;
    margin-top: 25px;
  }

    .price-content p{
      font-size: 13px;
    }
}
@media screen and (min-width:450px) and (max-width:550px) {
  .bg-pattern .button {
      color: #ec8889;
      border-color: #ed8a8a;
  }

  .price-section{
    height: 100%;
    background-image: url('../images/cloud.jpg') no-repeat;

  }

  .price-content{
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
  }

  .price-1{
    width: 100%;
    height: 50%;
    padding: 20px 0;
  }

  .price-2{
    width: 100%;
    height: 50%;
    padding: 20px 0;
    margin-top: 25px;
  }

    .price-content p{
      font-size: 17px;
    }
}
@media screen and (min-width:550px) and (max-width:575px) {
  .bg-pattern .button {
      color: #ec8889;
      border-color: #ed8a8a;
  }

  .price-section{
    height: 100%;
    background-image: url('../images/cloud.jpg') no-repeat;

  }

  .price-content{
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
  }

  .price-1{
    width: 100%;
    height: 50%;
    padding: 20px 0;
  }

  .price-2{
    width: 100%;
    height: 50%;
    padding: 20px 0;
    margin-top: 25px;
  }

  .price-content h2{
  font-size: 32px;
  }

    .price-content p{
      font-size: 20px;
    }
}
@media screen and (min-width:575px) and (max-width:768px) {
  .bg-pattern .button {
      color: #ec8889;
      border-color: #ed8a8a;
  }

  .price-section{
    height: 100%;
    background-image: url('../images/cloud.jpg') no-repeat;

  }

  .price-content{
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
  }

  .price-1{
    width: 100%;
    height: 50%;
    padding: 20px 0;
  }

  .price-2{
    width: 100%;
    height: 50%;
    padding: 20px 0;
    margin-top: 25px;
  }

  .price-content h2{
  font-size: 32px;
  }

    .price-content p{
      font-size: 20px;
    }
}
@media screen and (min-width:769px) and (max-width:856px) {
  .bg-pattern .button {
      color: #ec8889;
      border-color: #ed8a8a;
  }

  .price-section{
    height: auto;
  }

  .price-content{
    width: 100%;
    justify-content: space-evenly;
    }

  .price-content p{
    font-size: 12px;
  }

  .price-text{
    letter-spacing: normal;
    line-height: 25px;

  }

  .price-1{
    width: 45%;
    padding: 20px;
  }

  .price-2{
    width: 45%;
    padding: 20px;
  }


}
@media screen and (min-width:857px) and (max-width:900px) {
  .bg-pattern .button {
      color: #ec8889;
      border-color: #ed8a8a;
  }

  .price-section{
    height: auto;
  }

  .price-content{
    width: 100%;
    justify-content: space-evenly;
    }

  .price-content p{
    font-size: 15px;
  }

  .price-text{
    letter-spacing: normal;
    line-height: 30px;

  }

  .price-1{
    width: 45%;
    padding: 20px;
  }

  .price-2{
    width: 45%;
    padding: 20px;
  }


}
@media screen and (min-width:901px) and (max-width:1000px) {

  .price-section{
    height: auto;
  }

  .price-content{
    width: 100%;
    justify-content: space-evenly;
    }

  .price-content p{
    font-size: 17px;
  }

  .price-text{
    letter-spacing: normal;
    line-height: 40px;

  }

  .price-1{
    width: 45%;
    padding: 20px 0;
  }

  .price-2{
    width: 45%;
    padding: 20px 0;
  }


}
@media screen and (min-width:1001px) and (max-width:1100px) {


  .price-section{
    height: auto;
  }

  .price-content{
    width: 100%;
    justify-content: space-evenly;
    }

  .price-content p{
    font-size: 17px;
  }

  .price-text{
    letter-spacing: normal;
    line-height: 40px;

  }

  .price-1{
    width: 45%;
    padding: 20px 0;
  }

  .price-2{
    width: 45%;
    padding: 20px 0;
  }


}
